snippet note "add note comment"
	// NOTE: ${1}

snippet info "add info comment"
	// INFO: ${1}

snippet warn "add warn comment"
	// WARN: ${1}

snippet hack "add hack comment"
	// HACK: ${1}

snippet todo "add todo comment"
	// TODO: ${1}

snippet fixme "add fixme comment"
	// FIXME: ${1}
