snippet fpt "fmt.Println"
	fmt.Println(${1:any})

snippet log "log.Println"
	log.Println(${1:any})

snippet gofunc "go func"
	go func() {
		${1:any}
	}()

snippet deferfunc "defer func"
	defer func() {
		${1:any}
	}()

snippet vars "var ()"
	var (
		${1:any}
	)

snippet consts "const ()"
	const (
		${1:any}
	)

snippet interface "interface{}"
	interface{}
